.mainWrapper {
    padding: 15px;
}
.userNamesWrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px;
}
.userPostsWrapper {
    padding: 15px;
}
.singlePostMarginWrapper {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 10px 50px #0000001f;
    margin-bottom: 20px;
}
.commentsWrapper {
    background: #fafafa;
    padding: 20px;
}